In [1]:
def square(num):
    return num**2

In [2]:
my_nums =[1,2,3,4,5]

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [19]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [20]:
name = ['Andy','Eve','James','Adam']

In [21]:
list(map(splicer,name))

['EVEN', 'E', 'J', 'EVEN']

In [22]:
def eckec_even(num):
    return num%2 == 0

In [60]:
mynumbers =[1,2,6,4,8,6]

In [30]:

for n in filter(eckec_even,mynumbers):
    print(n)

2
4
6

In [31]:

list(filter(eckec_even,mynumbers))

[2, 4, 6]

LAMBDA EXPRESSION

In [40]:
square1 = lambda num: num ** 2

In [42]:
square1(11)

121

In [49]:
list(map(lambda num: num ** 2,mynumbers))

[1, 4, 9, 16, 25, 36]

In [61]:
list(map(lambda num1: num1 %2 == 0,mynumbers))

[False, True, True, True, True, True]

In [52]:
mynumbers

[1, 2, 3, 4, 5, 6]

In [53]:
list(filter(lambda num: num%2 == 0,mynumbers ))

[2, 4, 6]

In [54]:
name

['Andy', 'Eve', 'James', 'Adam']

In [59]:
list(map(lambda x:x[::-1].upper(),name))

['YDNA', 'EVE', 'SEMAJ', 'MADA']