In [1]:
mylist = [1,2,3]

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [8]:
list (range(0,11,2))

[0, 2, 4, 6, 8, 10]

enumurate

In [10]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [17]:
word = 'abcde'
for index, letter in enumerate (word):
    print(f' at index position {index} is letter {letter.upper()}')
    print('\n')
    index_count += 1

 at index position 0 is letter A


 at index position 1 is letter B


 at index position 2 is letter C


 at index position 3 is letter D


 at index position 4 is letter E

zip func

In [23]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 =['London','Paris','New York', 'Dalas','Hong kong']

In [21]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [25]:
for num, letter,location in zip(mylist1,mylist2,mylist3): 
    print(f'Position nnumber {num} holds a value of {letter.upper()} which is located in {location}')
# zip function zips the list of items together and returns the items as a tuple 
# which then allows for use of tupple unpacking 
# important to note that zip is only going to zip together as far as the list wich is the shortest. 
#-----i.e. list1 = 1,2,3, list2 = 4,5,7,8 the return her will be (1,4),(2,4),(3,5) leaving out the 7,8 in list2

Position nnumber 1 holds a value of A which is located in London
Position nnumber 2 holds a value of B which is located in Paris
Position nnumber 3 holds a value of C which is located in New York
Position nnumber 4 holds a value of D which is located in Dalas
Position nnumber 5 holds a value of E which is located in Hong kong

In [26]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 'London'),
 (2, 'b', 'Paris'),
 (3, 'c', 'New York'),
 (4, 'd', 'Dalas'),
 (5, 'e', 'Hong kong')]

in operator

In [28]:
'x' in [1,2,3]

False

In [29]:
'x' in ['x','y','z']

True

In [32]:
'a' in 'A World'

False

In [33]:
'a' in 'a World'

True

In [34]:
'a'.upper() in 'A World'

True

In [35]:
'mykey' in {'mykey':'myvalue'}

True

In [41]:
d = {'mykey':675}
675 in d.keys()

False

In [40]:
d = {'mykey':675}
675 in d.values()

True

In [42]:
mylist = [10,20,30,40,100]

In [43]:
min(mylist)

10

In [44]:
max(mylist)

100

In [46]:
from random import shuffle

In [47]:
mylist4 = [1,2,3,4,5,6,7,8,9]

In [66]:
shuffle(mylist4)
mylist4

[8, 3, 4, 6, 7, 1, 5, 9, 2]

In [68]:
from random import randint

In [75]:
a = randint(0,20)
a

13

In [77]:
b = input('What is your name? ')

What is your name? James

In [78]:
b

'James'

In [81]:
c = int(input('Enter a number '))

Enter a number 45

In [82]:
c

45